@import "../../colorContainer.scss";

.social-media-div {
  font-size: 2em;
}

.icon-button {
  margin-bottom: 10px;
}

.tstory {
  height: 2.6rem;
  position: relative;
  bottom: -13px;
  width: 2.6rem;
  margin: 0 5px;
  transition: 0.2s ease-in;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  line-height: 2.6rem;
  text-align: center;
  border-radius: 2.6rem;
}

.icon-button i {
  color: $textColorDark;
  border-radius: 2.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  height: 2.6rem;
  line-height: 2.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 2.6rem;
  margin-bottom: 10px;
  transition: 0.2s ease-in;
}

// socail icon color
.linkedin i {
  background-color: $linkedin;
}

.github i {
  background-color: $github;
}

.google i {
  background-color: $google;
}
.medium i {
  background-color: $medium;
}

/* Hover Transition */
.google i:hover,
.github i:hover,
.linkedin i:hover,
.medium i:hover {
  background-color: $textColor;
}

/* Media Query */
@media (max-width: 768px) {
  .socailContainer {
    text-align: center;
  }
}
