// background colors
$lightBackgroundColor: #fff;
$headerBackgroundColor: #f4f4f4;
$sampleBackgroundColor: #333;

// text color
$textColor: #000000;
$subtextColor: #868e96;
$textColorDark: #ffffff;

// social icons color
$linkedin: #0e76a8;
$github: #333;
$google: #ea4335;
$medium: #000;

// button
$buttonHover: #8c43ce;

// background-color
$backgroundColor1: #733b27;
$backgroundColor2: #bf8069;
$backgroundColor3: #d9b4a7;
$backgroundColor4: #260801;
$backgroundColor5: #bf5a5a;
